.home {
  width: 100%;
  overflow: hidden;
  padding: var(--padding-large);
  padding-top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--padding-large);
  animation: zoomInFadeIn var(--transition-duration) var(--transition-curve)
    forwards;
}

.thumbnail {
  height: 500px;
  width: 100%;
  border-radius: var(--border-radius);
  background-color: rgb(255, 255, 255);
  background-image: url("./assets/golden.jpeg");
  background-position: center;
  background-size: cover;
  padding: var(--padding-large);
  display: flex;
  flex-direction: column-reverse;
}

.thumbnail h1 {
  font-size: 80px;
  font-weight: bold;
  color: var(--background-color);
}

@keyframes zoomInFadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* Tablet view (768px to 1024px) */
@media screen and (max-width: 1024px) {
  .home {
    padding: var(--padding-medium);
  }

  .thumbnail {
    height: 400px;
    padding: var(--padding-medium);
  }
}

/* Mobile view (below 768px) */
@media screen and (max-width: 768px) {
  .home {
    padding: var(--padding-small);
  }

  .thumbnail {
    height: 300px;
    padding: var(--padding-small);
  }
}
