.projects {
  width: 100%;
  overflow: hidden;
  padding: var(--padding-large);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--padding-large);
}

.card {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9;
  border: 1px solid rgb(231, 231, 231);
  border-radius: var(--border-radius);
  overflow: hidden;
}

.cardContent {
  padding: var(--padding-large);
  padding-right: 20%;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--padding-medium);
  background-color: rgba(207, 0, 0, 0.8);
  z-index: 2;
  color: black;
  font-family: serif;
  font-size: 1em;
}

.cardContent .date {
  position: absolute;
  top: 0;
  right: 0;
  padding: var(--padding-large);
  font-size: 1.8em;
  font-weight: 100;
}

.cardTitleBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--padding-small);
  align-items: center;
}

.cardTitleBox h3 {
  font-weight: 100;
  font-size: 3em;
}

.cardTitleBox h1 {
  font-size: 8em;
}

.cardDescription {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardDescription p {
  color: black;
  font-size: 2em;
}

.cardBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./assets/golden.jpeg");
  background-position: center;
  background-size: cover;
}

/* Tablet view (768px to 1024px) */
@media screen and (max-width: 1024px) {
  .projects {
    padding: var(--padding-medium);
  }
}

/* Mobile view (below 768px) */
@media screen and (max-width: 768px) {
  .projects {
    padding: var(--padding-small);
  }
}
