.projects {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--padding-large);
}

.contents {
  position: relative;
  width: 100%;
  height: calc(100dvh - var(--navbar-height));
  overflow: hidden;
}

/* Tablet view (768px to 1024px) */
@media screen and (max-width: 1024px) {
}

/* Mobile view (below 768px) */
@media screen and (max-width: 768px) {
}
.project {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--padding-large);
}

.contents {
  position: relative;
  width: 100%;
  height: calc(100dvh - var(--navbar-height));
  overflow: hidden;
}
