@font-face {
  font-family: "Pacifico";
  src: local("Pacifico"),
    url(./fonts/pacifico/pacifico-regular-webfont.woff2) format("woff2"),
    url(./fonts/pacifico/pacifico-regular-webfont.woff) format("woff");
}

@import url("https://fonts.googleapis.com/css2?family=Literata:ital,opsz,wght@0,7..72,200..900;1,7..72,200..900&display=swap");

body {
  margin: 0;
  font-family: Literata, Helvetica, -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Prevent overscroll/bounce in iOS MobileSafari and Chrome*/
html,
body {
  overscroll-behavior-y: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* Disable text highlight */
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

/* Disable dragging for all images */
img {
  pointer-events: none; /* Prevents all image dragging */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --primary-color: #000000; /* Royal blue (traditional) */
  --secondary-color: #3e92cc; /* Celestial blue */
  --accent-color: red;
  --background-color: #f8f8f8; /* White */
  --background-color-dark: #000000;
  --background-color-rgb: 248, 248, 248;
  --background-color-dark-rgb: 0, 0, 0;
  --text-color: #171717;
  --text-color-light: #f8f8f8; /* White */
  --text-gray: #6c757d; /* Davy's grey */
  --padding-large: 32px;
  --padding-medium: 16px;
  --padding-small: 8px;
  --border-radius: 6px;
  --h1: 32px;
  --h2: 24px;
  --h3: 20px;
  --h4: 16px;
  --h5: 14px;
  --h6: 12px;
  --p: 16px;
  --small: 12px;
  --medium: 16px;
  --large: 20px;
  --navbar-height: 50px;

  /* Animation properties */
  --transition-duration: 1s;
  --transition-curve: cubic-bezier(0.16, 1, 0.3, 1);
}
