@font-face {
  font-family: "Pacifico";
  src: local("Pacifico"),
    url(./fonts/pacifico/pacifico-regular-webfont.woff2) format("woff2"),
    url(./fonts/pacifico/pacifico-regular-webfont.woff) format("woff");
}

body {
  margin: 0;
  font-family: Helvetica, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --primary-color: #0a2463 /* Royal blue (traditional) */;
  --secondary-color: #3e92cc; /* Celestial blue */
  --accent-color: #d8315b; /* Cerise */
  --background-color: #ffffff; /* White */
  --text-color: #1e1b18; /* Eerie black */
}
